@use 'variables';

.title {
  color: variables.$text-primary;

  &-description {
    color: variables.$text-secondary;
  }
}

.todo {
  &-container {
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
  }
}
